* {
    margin: 0;
    padding: 0; /* 全てのプロパティの余白とパディングをリセットしています。*/
 }
 #wrapper {
    width: 70%;
    margin: 0 auto;/*ページ幅 70％ でセンタリングしています。*/
 }
 #main {
    width: 100%;/*ページ幅 70％をメニューとコンテンツ幅にしています。同上*/
    overflow: hidden;/* 親ボックスでフロート解除します。*/
 }
 #menu {
     float: left;
     min-height:100%;
     width: 150px;  /* floatの width 指定は必須です。*/
     padding-top: 60px;
     border-right: 0.1em solid gray;
 }
 #contents {
    margin-left: 170px; 
    padding-top: 20px;
    min-height: 100%;
 }
 #footer {
    clear: both;   /* IE6 以前の float 解除対応です。 */
    width: 100%;
    height: 50px;
 }
 #menu ul {
    list-style: none;
 }
 #contents .talk {
     padding: 10 0 10 0;
 }
 #contents .talk .talk-me {
     position: relative;
     margin-left: 100px;
     margin-right: 100px;
     padding: 1.2em;
     border: 3px solid #c1deff;
     background-color: #c1deff;
     border-radius: 5px;
 }
 #contents .talk .talk-other {
     color: #444;
     position: relative;
     margin-left: 100px;
     margin-right: 100px;
     padding: 1.2em;
     border: 3px solid #eee;
     background-color: #eee;
     border-radius: 5px;
 }
 #contents #form  {
     position: fixed;
     bottom: 0;
     padding: 10 0 10 0;
     display: flex;
 }
 #contents #form .message {
     padding: 10px;
     line-height: 1.2em;
 }
 #contents #form .submitBtn {
    color: #ffffff;
    background-color: #60aaff;
     width: 100px; 
     height: 40px;
     margin-top: 7px;
     margin-left: 15px;
     padding-left: 10px;
     text-align: center;
 }
 #contents #form .submitBtn:before {
    color: #ffffff;
     content:"";
     margin-top: 10px;
     margin-left: -10px;
     margin-right: 5px;
     display:inline-block;
     width:1em;
     height:1em;
     background:url(/imageFile/chat/icon_send.svg) no-repeat;
     background-size:contain;
 }